<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- DispatcherServlet -->
  <servlet>
        <servlet-name>Project_Bai3_2_1</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>/WEB-INF/configs/*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Project_Bai3_2_1</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
</web-app>